.container {
    background-color: black;
    color: white;
    width: 50%;
    border-radius: 0 0 10% 10%;
    overflow: hidden;
    position: relative;
    margin: 50px;
}

.btn {
    background-color: red;
    color: black;
    cursor: pointer;
    position: absolute;
    right: 0;
    border: none;
    padding: 10px;
}

.container > img {
    width: 100%;
}

.containerData {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}