.backgraund{
  background-image: url('../../../assets/bg.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  height: 2000px

}